<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sark.securedhealthnet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserPrescription"></activity>
        <activity android:name=".Prescription" />
        <activity android:name=".PhoneLogin" />
        <activity android:name=".MapsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reminder" />
        <activity android:name=".about" />
        <activity android:name=".WritingActivity" />
        <activity android:name=".ChatMain" />
        <activity android:name=".Splash" />
        <activity android:name=".AlarmMe" />
        <activity android:name=".AlarmNotification" />
        <activity android:name=".DoctorHome" />
        <activity android:name=".PatientsReports" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".EditAlarm" />
        <activity android:name=".Preferences" />
        <activity android:name=".Notification" />
        <activity android:name=".DoctorList" />
        <activity android:name=".UserProfile" />
        <activity android:name=".PatientsAssocList" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-Lh6HOjbTmwFx1GyTcQiJmBdyViIf5IE" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>